// Custom styles.
/*
有趣的自定义样式
*/
// 下载样式
a#download {
  display: inline-block;
  padding: 0 10px;
  color: #000;
  background: transparent;
  border: 2px solid #000;
  border-radius: 2px;
  transition: all .5s ease;
  font-weight: bold;
  &:hover {
    background: #000;
    color: #fff;
  }
}

// 颜色块-黄
span#inline-yellow {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #f0ad4e;
}

// 颜色块-绿
span#inline-green {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #5cb85c;
}

// 颜色块-蓝
span#inline-blue {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #2780e3;
}

// 颜色块-紫
span#inline-purple {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #9954bb;
}

// 左侧边框红色块级
p#div-red {
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #df3e3e;
}

// 左侧边框黄色块级
p#div-yellow {
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f0ad4e;
}

// 左侧边框绿色块级
p#div-green {
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #5cb85c;
}

// 左侧边框蓝色块级
p#div-blue {
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #87CEFA;
}

// 左侧边框紫色块级
p#div-purple {
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #9954bb;
}

// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
// 主页文章添加阴影效果
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
